<div class="m_text">
  <% if params["web"].nil?||params["web"]=="" %>
    <div id="result">OMG，经过测试，我的应用四级通过率居然是<%= "#{(@total_score.to_f/10*100).to_i + 9}%" %> --“<%= @message %>”。。。  </div>
    <div  id="link" style="display: none">想知道你通过英语四级的机率吗？赶紧来测试一下吧<%= Constant::APP_URL["qq"] %>
    </div>
    <input type="hidden" id="img_url" value="<%= Constant::IMG_URL %>"/>
    <script type="text/javascript">
      send_qq_share();
    </script>
  <% else %>
    <div>OMG，经过测试，我的英语四级通过概率居然是<%= "#{(@total_score.to_f/10*100).to_i + 9}%" %> --“<%= @message %>”。。。  </div>
    <div>想知道你通过英语四级的机率吗？赶紧来测试一下吧。
      <% if params[:web].nil? or params[:web] == "sina" %><%= Constant::APP_URL["sina"] %>
      <% elsif params[:web] == "renren" %>四级备考就来赶考网 -- www.gankao.co
      <% end %>
    </div>
  <% end %>
</div>

<div class="fx_box">
  <% if params[:web] == "sina" %>
    <script type="text/javascript">
      function guanzhu(){
        $.ajax({
          type: "GET",
          url: "/percents/guanzhu.json",
          dataType: "json",
          success : function(data){
            $("#sina_guanzhu_link").html("已添加关注");
          }
        });
      }
    </script>
    <div class="fs_btn_box">
      <a href="http://www.weibo.com" target="_parent" class="fh_a">&lt;&lt;回到微博主页</a>
    </div>
    <div class="gz_weibo"><span><a href="javascript:void(0)" class="logo_s" id="sina_guanzhu_link" onclick="javascript:guanzhu();">关注赶考网</a></span></div>
  <% elsif params[:web] == "renren" %>
    <div class="fs_btn_box">
      <a href="http://www.renren.com" target="_parent" class="fh_a">&lt;&lt;回到人人主页</a>
    </div>
    <div class="gz_weibo"><span><a href="javascript:void(0)" class="logo_r" onclick="javascript:window.open('/percents/renren_like','_blank','height=400,width=980,left=200,top=150');">关注赶考网</a></span></div>
  <% else %>
    <div class="fs_btn_box">
      <a href="#" class="fh_a" onclick="javascript:go_back()">&lt;&lt;返回个人中心</a>
    </div>
    <div class="gz_weibo">
      <iframe src="http://follow.v.t.qq.com/index.php?c=follow&a=quick&name=gankao2011&style=2&t=1333089968647&f=1" marginwidth="0" marginheight="0"  allowtransparency="true" frameborder="0" height="38" scrolling="auto" width="191"></iframe>
    </div>
  <% end %>
</div>

<% if params[:web] == "sina" || params[:web] == "renren" %>
  <script type="text/javascript">
    //自动发送
    $(function(){
      send_message("<%= params[:web] %>");
    });
  </script>
<% end %>

<div class="gankao_w">如有问题，请访问<a href="http://www.gankao.co" target="_blank" class="logo_g">赶考网<small>www.gankao.co</small></a> © 2010-2012 欢迎加入官方交流群：227310092</div>

