<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>通过英语四级</title>
    <%= stylesheet_link_tag    "style" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "percents" %>
    <%= csrf_meta_tags %>
    <input type="hidden" id="web" value="<%= params["web"] %>"></input>
    <% if params["web"]=="sina" %>
      <style type="text/css">
        .m_box{width:683px;}
      </style>
    <% elsif params["web"]=="renren" %>
      <style type="text/css">
        .m_box{width:718px;}
      </style>
    <% end %>
  </head>

  <body>
    <div class="wrap">
      <div class="main">
        <div class="m_explain">三个问题测试你通过英语四级的概率。</div>
        <div class="m_box border_radius">
          <%= yield %>
        </div>
      </div>
      <div class="foot"></div>
    </div>
  </body>
</html>
