<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>通过英语<% if cookies[:six] && cookies[:six]=="6" %>六级<% elsif cookies[:six] && cookies[:six]=="8" %>研究生英语<% else %>四级<% end %></title>
    <% if cookies[:six] && cookies[:six]=="6" %>
       <%= stylesheet_link_tag    "style6" %>
    <% else %>
       <%= stylesheet_link_tag    "style" %>
    <% end %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "percents" %>
    <%= csrf_meta_tags %>
    <input type="hidden" id="web" value="<%= params["web"] %>"></input>
    <% if params["web"]=="sina" %>
      <style type="text/css">
        .m_box{width:683px;}
      </style>
    <% elsif params["web"]=="renren" %>
      <style type="text/css">
        .m_box{width:686px;}
      </style>
    <% else %>
      <%= render :partial=>"/percents/qqzone_index" %>
    <% end %>
  </head>

  <body>
    <div class="wrap">
      <div class="main">
        <div class="m_explain">三个问题测试你通过<% if cookies[:six] && cookies[:six]=="6" %>英语六级<% elsif cookies[:six] && cookies[:six]=="8" %>研究生英语<% else %>英语四级<% end %>的概率:</div>
        <div class="m_box border_radius">
          <%= yield %>
        </div>
      </div>
      <div class="foot"></div>
    </div>
  </body>
</html>
